---
import BaseLayout from '../layouts/BaseLayout.astro';
import Experience from '../components/Experience.astro';
import Courses from '../components/Courses.astro';
import Skills from '../components/Skills.astro';

const title = "Fbrz";
const description = "Fbrz";
---

<BaseLayout title={title} description={description}>
<main>
    <div class="container">
        <section class="profile">
            <div class="profile__image">
                <div>
                    <img class="profile__author" src="user.png" alt="Fabrizio Ramos Mesías, ingeniero de software">
                </div>
                <div class="redes-sociales">
                    <a href="https://github.com/FbrzRM" target="_blank">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 256 256"><g fill="none"><rect width="256" height="256" fill="#242938" rx="60"/><path fill="#fff" d="M128.001 30C72.779 30 28 74.77 28 130.001c0 44.183 28.653 81.667 68.387 94.89c4.997.926 6.832-2.169 6.832-4.81c0-2.385-.093-10.262-.136-18.618c-27.82 6.049-33.69-11.799-33.69-11.799c-4.55-11.559-11.104-14.632-11.104-14.632c-9.073-6.207.684-6.079.684-6.079c10.042.705 15.33 10.305 15.33 10.305c8.919 15.288 23.394 10.868 29.1 8.313c.898-6.464 3.489-10.875 6.349-13.372c-22.212-2.529-45.56-11.104-45.56-49.421c0-10.918 3.906-19.839 10.303-26.842c-1.039-2.519-4.462-12.69.968-26.464c0 0 8.398-2.688 27.508 10.25c7.977-2.215 16.531-3.326 25.03-3.364c8.498.038 17.06 1.149 25.051 3.365c19.087-12.939 27.473-10.25 27.473-10.25c5.443 13.773 2.019 23.945.98 26.463c6.412 7.003 10.292 15.924 10.292 26.842c0 38.409-23.394 46.866-45.662 49.341c3.587 3.104 6.783 9.189 6.783 18.519c0 13.38-.116 24.149-.116 27.443c0 2.661 1.8 5.779 6.869 4.797C199.383 211.64 228 174.169 228 130.001C228 74.771 183.227 30 128.001 30ZM65.454 172.453c-.22.497-1.002.646-1.714.305c-.726-.326-1.133-1.004-.898-1.502c.215-.512.999-.654 1.722-.311c.727.326 1.141 1.01.89 1.508Zm4.919 4.389c-.477.443-1.41.237-2.042-.462c-.654-.697-.777-1.629-.293-2.078c.491-.442 1.396-.235 2.051.462c.654.706.782 1.631.284 2.078Zm3.374 5.616c-.613.426-1.615.027-2.234-.863c-.613-.889-.613-1.955.013-2.383c.621-.427 1.608-.043 2.236.84c.611.904.611 1.971-.015 2.406Zm5.707 6.504c-.548.604-1.715.442-2.57-.383c-.874-.806-1.118-1.95-.568-2.555c.555-.606 1.729-.435 2.59.383c.868.804 1.133 1.957.548 2.555Zm7.376 2.195c-.242.784-1.366 1.14-2.499.807c-1.13-.343-1.871-1.26-1.642-2.052c.235-.788 1.364-1.159 2.505-.803c1.13.341 1.871 1.252 1.636 2.048Zm8.394.932c.028.824-.932 1.508-2.121 1.523c-1.196.027-2.163-.641-2.176-1.452c0-.833.939-1.51 2.134-1.53c1.19-.023 2.163.639 2.163 1.459Zm8.246-.316c.143.804-.683 1.631-1.864 1.851c-1.161.212-2.236-.285-2.383-1.083c-.144-.825.697-1.651 1.856-1.865c1.183-.205 2.241.279 2.391 1.097Z"/></g></svg>
                    </a>

                    <a href="https://www.linkedin.com/in/fbrz/" target="_blank">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 128 128"><path fill="#0076b2" d="M116 3H12a8.91 8.91 0 0 0-9 8.8v104.42a8.91 8.91 0 0 0 9 8.78h104a8.93 8.93 0 0 0 9-8.81V11.77A8.93 8.93 0 0 0 116 3z"/><path fill="#fff" d="M21.06 48.73h18.11V107H21.06zm9.06-29a10.5 10.5 0 1 1-10.5 10.49a10.5 10.5 0 0 1 10.5-10.49m20.41 29h17.36v8h.24c2.42-4.58 8.32-9.41 17.13-9.41C103.6 47.28 107 59.35 107 75v32H88.89V78.65c0-6.75-.12-15.44-9.41-15.44s-10.87 7.36-10.87 15V107H50.53z"/></svg>
                    </a>

                    <a href="https://twitter.com/FbrzRM" target="_blank">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 256 256"><g fill="none"><rect width="256" height="256" fill="#fff" rx="60"/><rect width="256" height="256" fill="#1D9BF0" rx="60"/><path fill="#fff" d="M199.572 91.411c.11 1.587.11 3.174.11 4.776c0 48.797-37.148 105.075-105.075 105.075v-.03A104.54 104.54 0 0 1 38 184.677c2.918.351 5.85.526 8.79.533a74.154 74.154 0 0 0 45.864-15.839a36.976 36.976 0 0 1-34.5-25.645a36.811 36.811 0 0 0 16.672-.636c-17.228-3.481-29.623-18.618-29.623-36.198v-.468a36.705 36.705 0 0 0 16.76 4.622c-16.226-10.845-21.228-32.432-11.43-49.31a104.814 104.814 0 0 0 76.111 38.582a36.95 36.95 0 0 1 10.683-35.283c14.874-13.982 38.267-13.265 52.249 1.601a74.105 74.105 0 0 0 23.451-8.965a37.061 37.061 0 0 1-16.234 20.424A73.446 73.446 0 0 0 218 72.282a75.023 75.023 0 0 1-18.428 19.13Z"/></g></svg>
                    </a>

                    <a href="mailto:framosmesias@gmail.com?subject=Oportunidad de Trabajo&body=¡Hola! Estoy interesado en ..">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 256 193"><path fill="#4285F4" d="M58.182 192.05V93.14L27.507 65.077L0 49.504v125.091c0 9.658 7.825 17.455 17.455 17.455h40.727Z"/><path fill="#34A853" d="M197.818 192.05h40.727c9.659 0 17.455-7.826 17.455-17.455V49.505l-31.156 17.837l-27.026 25.798v98.91Z"/><path fill="#EA4335" d="m58.182 93.14l-4.174-38.647l4.174-36.989L128 69.868l69.818-52.364l4.669 34.992l-4.669 40.644L128 145.504z"/><path fill="#FBBC04" d="M197.818 17.504V93.14L256 49.504V26.231c0-21.585-24.64-33.89-41.89-20.945l-16.292 12.218Z"/><path fill="#C5221F" d="m0 49.504l26.759 20.07L58.182 93.14V17.504L41.89 5.286C24.61-7.66 0 4.646 0 26.23v23.273Z"/></svg>
                    </a>
                </div>
            </div>
            <div class="about-me">
                <h1 class="author">Fabrizio Ramos Mesías</h1>
                <p class="about-me__text">Desarrollador Frontend apasionado por la tecnología y la mejora constante.</p>
                <p class="about-me__text">Mi capacidad para aprender rápido, organizarme eficazmente y encontrar soluciones creativas me ha ayudado a sobresalir.</p>
                <p class="about-me__text">Siempre me mantengo actualizado y busco las mejores prácticas en el desarrollo Frontend, con el objetivo de mantener el código legible y entendible para los demás</p>
                <p class="about-me__text"> Estoy entusiasmado por contribuir al éxito de su equipo y compartir mis conocimientos con mis colegas.</p>
            </div>
        </section>

        <div class="information">
            <p class="information__text">23 años</p>
            <p class="information__text">Guayaquil-Ecuador</p>
            <p class="information__text">Ingeniero en Software</p>
            <p class="information__text"><span></span> OpenToWork</p>
        </div>
    </div>
</main>

<Experience></Experience>

<Skills></Skills>

<Courses></Courses>


</BaseLayout>

<style>
    main{
        position: relative;
        z-index: 4;
    }

    h1{
        margin: 0rem 0;
        color : var(--primary)
    }

    .redes-sociales{
        display: flex;
        justify-content: space-evenly;
    }

    .about-me__text{
        margin: 2rem 0;
    }

    .profile__image{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .profile{
        background-color: var(--black);
        margin-top: 1rem;
        border-radius: 5rem;
        padding: 1rem 1.5rem;
        display: flex;
        flex-direction: column;
    }

    @media (min-width: 768px) {
        .profile{
            flex-direction: row-reverse;
            gap: 1rem;
            align-items: center;
            margin-top: 5rem;
            padding: 4rem;
        }

        .about-me{
            flex-basis: 700rem;
        }
    }

    .information{
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap-reverse;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin-top: 1rem;
    }

    @media (min-width: 768px) {
        .information{
            flex-direction: row;
            margin-bottom: 8rem;
        }
        .redes-sociales{
            flex-direction: row;
        }
    }

    .information__text{
        background-color: var(--black);
        border-radius: 5rem;

        padding: .5rem 2rem;
        position: relative;
        margin: .5rem 0 0 0;
        & span{
            display: inline-block;
            width: 1rem;
            height: 1rem;
            background-color: #00ff00;
            border-radius: 1rem;
        }
    }

</style>


