---
import Atom from './svg/Atom.astro';
import StarD from './svg/StarD.astro';
import Obsidian from '../components/svg/Obsidian.astro';

import Documentwithtext from './svg/documentwithtext.astro';
---

<section class="container" id="courses">
    <h2 class="uppercase">Cursos</h2>

    <div class="timeline">
        <article class="article">
            <div class="checkpoint">
                <header class="info">
                    <h3 class="title">Git + GitHub: </h3>
                    <a href="#" class="platform">
                        <span>Plataforma</span>
                        <Documentwithtext></Documentwithtext>
                    </a>
                </header>
                <ul>
                    <li>Todo un sistema de control de versiones de cero.</li>
                </ul>
            </div>
        </article>
        <div class="line"></div>
        <article class="article">
            <div class="checkpoint">
                <header class="info">
                    <h3 class="title">CSS</h3>
                    <a href="#" class="platform">
                        <span>Plataforma</span>
                        <Documentwithtext></Documentwithtext>
                    </a>
                </header>
                <ul>
                    <li>Flexbox, CSS Grid, Custom Properties, SASS, Mixins, Gulp Workflows, Animaciones, RWD</li>
                </ul>
            </div>
        </article>
        <div class="line"></div>
        <article class="article">
            <div class="checkpoint">
                <header class="info">
                    <h3 class="title">JavaScript (ECMAScript 2021)</h3>
                    <a href="#" class="platform">
                        <span>Plataforma</span>
                        <Documentwithtext></Documentwithtext>
                    </a>
                </header>
                <ul>
                    <li>Webpack, Clases, Propiedades privadas, ESNext, Node, Npm, Babel, Hot Reaload, CRUD, Carga de archivos.</li>
                </ul>
            </div>
        </article>
        <div class="line"></div>
        <article class="article">
            <div class="checkpoint">
                <header class="info">
                    <h3 class="title">Angular</h3>
                    <a href="#" class="platform">
                        <span>Plataforma</span>
                        <Documentwithtext></Documentwithtext>
                    </a>
                </header>
                <ul>
                    <li>Signals, componentes, directivas, servicios, mapas, JWT, autenticación y despliegues</li>
                    <li>Router, modulos, Formularios reactivos</li>
                </ul>
            </div>
        </article>
        <div class="line"></div>
        <article class="article">
            <div class="checkpoint">
                <header class="info">
                    <h3 class="title">Curso</h3>
                    <a href="#" class="platform">
                        <span>Plataforma</span>
                        <Documentwithtext></Documentwithtext>
                    </a>
                </header>
                <ul>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                </ul>
            </div>
        </article>
        <div class="line"></div>
        <article class="article">
            <div class="checkpoint">
                <header class="info">
                    <h3 class="title">Curso</h3>
                    <a href="#" class="platform">
                        <span>Plataforma</span>
                        <Documentwithtext></Documentwithtext>
                    </a>
                </header>
                <ul>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                </ul>
            </div>
        </article>
        <div class="line"></div>
        <article class="article">
            <div class="checkpoint">
                <header class="info">
                    <h3 class="title">Curso</h3>
                    <a href="#" class="platform">
                        <span>Plataforma</span>
                        <Documentwithtext></Documentwithtext>
                    </a>
                </header>
                <ul>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                </ul>
            </div>
        </article>
        <div class="line"></div>
        <article class="article">
            <div class="checkpoint">
                <header class="info">
                    <h3 class="title">Curso</h3>
                    <a href="#" class="platform">
                        <span>Plataforma</span>
                        <Documentwithtext></Documentwithtext>
                    </a>
                </header>
                <ul>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                </ul>
            </div>
        </article>
        <div class="line"></div>
        <div class="icon">
            <StarD></StarD>
        </div>
        <div class="icon">
            <Obsidian></Obsidian>
        </div>
        <div class="icon">
            <Atom></Atom>
        </div>

    </div>
</section>
<style>
    .title{
        margin: 0;
    }
    .info{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .subtitle{
        font-size: 1.5rem;
        margin: 0.2rem 0;
        color: #fff9
    }
    .platform{
        display: flex;
        align-items: center;
        gap: 1rem;
        font-size: 1.5rem;
    }

    @media(hover:hover){
        .platform:hover{
            text-decoration: underline;
        }
    }

    .timeline{
        display: grid;
        grid-template-columns: 1fr;
    }
    .line{
        height: 5rem;
        background-color: #fff;
        width: .2rem;
        margin: 0 auto;
    }
    .line::before{
        content: "";
        width: 1.5rem;
        height: 1.5rem;
        display: block;
        background-color: #fff;
        border-radius: 1rem;
        position: relative;
        top: 35%;
        left: -.7rem;
    }
    .checkpoint{
        background-color: var(--black);
        padding: 1.5rem;
        border-radius: 1.4rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    .icon, .line:nth-child(16){
        display: none;
    }

    @media (min-width: 768px){
        .timeline{
            display: grid;
            grid-template-columns: 48% 4% 48%;
        }

        .article{
            grid-column: 1 / 2;
        }
        .line{
            grid-column: 2 / 3;
            height: auto;
        }
        .article:nth-child(3){
            grid-column: 3 / 4;
            grid-row: 2 / 3;
        }
        .article:nth-child(5){
            grid-column: 1 / 2;
            grid-row: 3 / 4;
        }
        .article:nth-child(7){
            grid-column: 3 / 4;
            grid-row: 4 / 5;
        }
        .article:nth-child(11){
            grid-column: 3 / 4;
            grid-row: 6 / 7;
        }
        .article:nth-child(15){
            grid-column: 3 / 4;
            grid-row: 8 / 9;
        }
        .icon{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .line:nth-child(2){
            display: flex;
            flex-direction: column;
            align-self: end;
            height: 15rem;
            &::before{
                top: 0;
            }
        }
        .line:nth-child(16){
            grid-row: 8 / 9;
            height: 8rem;
            display: block;
            &::before{
                top: 100%;
            }
        }
        .icon:nth-child(17){
            grid-row: 1 / 2;
            grid-column: 3 / 4;
        }
        .icon:nth-child(18){
            grid-row: 4 / 5;
        }
        .icon:nth-child(19){
            grid-row: 7 / 8;
            grid-column: 3 / 4;
        }
    }
</style>