---
import Sun from './svg/Sun.astro';
import SpaceStation from './svg/SpaceStation.astro';
import Galaxy from './svg/Galaxy.astro';

---

<section class="container experience">
    <h2>Experiencia</h2>
    <div class="experience__grid">
        <article class="experience__content">
            <h3>Lugar</h3>
            <div class="time">
                <p>Cargo</p>
                <p>fecha</p>
            </div>
            <ul>
                <li>mi experiencia</li>
                <li>mi experiencia</li>
                <li>mi experiencia</li>
                <li>mi experiencia</li>
            </ul>
        </article>
        <div class="experience__animate">
            <span class="experience__line"></span>
            <SpaceStation></SpaceStation>
            <span class="experience__line"></span>
        </div>
        <article class="experience__content">
            <h3>Lugar</h3>
            <div class="time">
                <p>Cargo</p>
                <p>fecha</p>
            </div>
            <ul>
                <li>mi experiencia</li>
                <li>mi experiencia</li>
                <li>mi experiencia</li>
                <li>mi experiencia</li>
            </ul>
        </article>
        <article class="experience__content">
            <h3>Lugar</h3>
            <div class="time">
                <p>Cargo</p>
                <p>fecha</p>
            </div>

            <ul>
                <li>mi experiencia</li>
                <li>mi experiencia</li>
                <li>mi experiencia</li>
                <li>mi experiencia</li>
            </ul>
        </article>
        <div class="experience__animate">
            <span class="experience__line"></span>
            <Sun></Sun>
            <span class="experience__line"></span>
        </div>
        <article class="experience__content">
            <h3>Lugar</h3>
            <div class="time">
                <p>Cargo</p>
                <p>fecha</p>
            </div>
            <ul>
                <li>mi experiencia</li>
                <li>mi experiencia</li>
                <li>mi experiencia</li>
                <li>mi experiencia</li>
            </ul>
        </article>
        <article class="experience__content">
            <h3>Lugar</h3>
            <div class="time">
                <p>Cargo</p>
                <p>fecha</p>
            </div>
            <ul>
                <li>mi experiencia</li>
                <li>mi experiencia</li>
                <li>mi experiencia</li>
                <li>mi experiencia</li>
            </ul>
        </article>
        <div class="experience__animate">
            <span class="experience__line"></span>
            <Galaxy></Galaxy>
            <span class="experience__line"></span>
        </div>
        <article class="experience__content">
            <h3>Lugar</h3>
            <div class="time">
                <p>Cargo</p>
                <p>fecha</p>
            </div>
            <ul>
                <li>mi experiencia</li>
                <li>mi experiencia</li>
                <li>mi experiencia</li>
                <li>mi experiencia</li>
            </ul>
        </article>
    </div>
</section>

<style>
    .experience{
        margin-top: 5rem;
    }

    .experience__grid{
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    @media (min-width: 768px) {
        .experience__grid{
            gap: 0;
            grid-template-columns: 5fr 1fr 5fr;
            align-items: center;
        }
    }

    .experience__animate{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .experience__icon{
        margin: 0 auto;
        width: min(10rem);
    }

    .experience__line{
        display: block;
        margin: 0 auto;
        height: 2rem;
        width: .1rem;
        background-color: #fff;
    }

    @media (min-width: 768px) {
        .experience__line{
            height: 7.6rem;

        }
    }

    .time{
        display: flex;
        gap: 2rem;
        & p{
            font-size: 1.2rem;
            margin: 0;
        }
    }

    .experience__content{
        background-color: var(--black);
        border-radius: 2rem;
        padding: 1rem 2rem;
    }

    @media (min-width: 768px) {
        .experience__content:nth-child(1){
            margin-top: -7rem;
        }
        .experience__content:nth-child(3){
            margin-top: 8rem;
        }

        .experience__content:nth-child(4){
            margin-top: -7rem;
        }
        .experience__content:nth-child(6){
            margin-top: 8rem;
        }

        .experience__content:nth-child(7){
            margin-top: -8rem;
        }
        .experience__content:nth-child(9){
            margin-top: 8rem;
        }
    }


</style>