---

---
<div class="rocket">
    <a href="">
        <img class="rocket__image" src="public/rocket.svg" alt="rocket">
    </a>
</div>
<footer class="footer">
    <p>&copy; 2023 Fbrz - Desarrollado  con Astro.</p>
</footer>

<style>
    .rocket{
        display: flex;
        justify-content: end;
        margin-right: 1rem;
    }
    .rocket__image{
        transform: rotate(-45deg);
        display: inline-block;
    }
    .footer{
        margin-top: 1rem;
        background-color: var(--black);
        & p{
            font-size: 1.5rem;
            color: #B0B0B0;
            font-weight: 700;
            text-align: center;
            margin: 0;
            padding: 2rem 0;
        }
    }
</style>